In [1]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [2]:
# Call the function.
say_hello()

Hello!

In [6]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)

In [7]:
say_something("hello World")

hello World

In [11]:
bianca_says = "Hi my name is Bianca and I am learing Python and studying a lot!"

say_something(bianca_says)

Hi my name is Bianca and I am learing Python and studying a lot!

In [13]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [19]:
# Import pandas.
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [21]:
# Using the map() function we are going to change B to A, C to B, and D to C 
# (change each string value in this Series to another value).
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [26]:
# Using the format() function.
# Iterate through the grades.
# Pass the grade variable inside the format() function.
# Specify the format for the grade variable we would like by using {:.0f}.
# In this format, the grade variable is referenced in front of the colon, so there is no need to add the grade variable.
# After the colon, the .0f means to format the grade with no decimal place, where the "period" is for the decimal place, the "0" is for "no" decimal place, and the "f" means floating-point decimal. If we wanted to format to one decimal place, we would use 1 instead of 0, and 2 for two decimal places, and so on.

my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [28]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [30]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object