In [2]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [6]:
    # A dictionary of high schools and the type of school.
    high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
    
    for schools in high_school_types:
        print(schools)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [3]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
# Add the Pandas dependency.
import pandas as pd
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [10]:
# FINISH SKILL DRILL 4.3.5 - iterate using index to print each high school.

# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
# Add the Pandas dependency.
import pandas as pd
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)

for highschool in school_series:
    print(highschool[10])

i
g
H
g
h
g
h
h
S
h
H
g
S
h

In [11]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [19]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

# Initialize a new DataFrame.
schools_df = pd.DataFrame()

# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school

# Print the DataFrame.
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [23]:
#FINISH SKILL DRILL - 4.3.5 - CONVERT THE DICT. high_schools_dict TO A DATA FRAME. 
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}


school_id = 
school_name = 
type_of_school =

In [24]:
# Applying the COLUMN ATTRIBUTE to get the column names of a DataFrame.
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [25]:
# Applying the INDEX ATTRIBUTE to get the indices of a DataFrame.
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [26]:
# Applying the VALUES ATTRIBUTES to get the values of a DataFrame.
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [27]:
#FINISH SKILL DRILL 4.3.5 - Based of the following image, create a list for each column and add esch list to a new pandas.

In [1]:
# 4.9.3  - Object Oriented Programming
# • In this example, the keyword class is used to create a class. 
# • Then, the __init__ method is a special method called a "class constructor",
# that Python calls every time a new instance of the class is created.
# • This method takes two arguments: self and name. 
# • The self argument refers to a specific Cat object that is created when this method is called. 
# • The second argument, name, will be specified each time a new Cat object is created. 
class Cat:
    def __init__(self, name):
        self.name = name
        
first_cat = Cat('Felix')
second_cat = Cat('Garfield')
print(second_cat.name)

Garfield

In [2]:
class Dog:
    def __init__(self, name, color, sound):
        self.name = name
        self.color = color
        self.sound = sound
    def bark(self):
        return self.sound + ' ' + self.sound

first_dog = Dog('Fido', 'brown', 'woof!')
#print(    first_dog.name)
#print(first_dog.color)

second_dog = Dog('Lady', 'blonde', 'arf!')
print(     second_dog.name)
print(second_dog.color)

second_dog.bark()

Lady
blonde

'arf! arf!'